
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon_id in melon_dictionary %}
            <tr>
                <td>{{ melon_dictionary[melon_id][0] }}</td>
                <td>{{ melon_dictionary[melon_id][1] }}</td>
                <td>{{ "$%.2f"|format(melon_dictionary[melon_id][2]) }}</td>
                <td>{{ "$%.2f"|format(melon_dictionary[melon_id][3]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{"$%.2f"|format(order_total)}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
